 
.static-hero {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.static-hero.light {
  background-color: var(--bgLight);
}

.static-hero.dark {
  background-color: var(--bgLight);
}

.static-header {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.static-header.light {
  background-color: var(--bgLight);
}

.static-header.dark {
  background-color: var(--bg);
}

.static-intro {
  white-space: pre-line;
  width: 100%;
  max-width: 700px;
  line-height: 1.8em;
}

.static-intro-wrapper {
  padding-bottom: 5em;
  padding-top: 3em;
}

.static-intro-wrapper.dark {
  background-color: var(--bgLight);
}

.static-intro-wrapper.light {
  background-color: var(--bgLight);
}

.static-youtube-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
  >div {
    width: 100%;
    max-width: 600px;
    margin: 0.2em;
  }
}

.static-youtube-item {
  width: 100%;
}

.static-wrapper.dark {
  background-color: var(--bg);

  h2 {
    color: var(--text);
  }

  p {
    color: var(--text);
  }

  label {
    color: var(--text);
  }
}

.static-footer {
  p,
  a {
    color: var(--text);
  }
}

.static-header-right {
  display: flex;
}
.static-wrapper {
  min-height: 100vh;
  height: 100%;
}

.static-nav-link {
  width: 100%;
  color: var(--text);
  text-decoration: none;
  font-weight: 400;
  padding: 0.5em;
  transition: all 0.2s ease;
  text-align: center;
  &:hover {
    background-color: var(--bg);
  }
}

@media screen and (max-width: 768px) {
  .static-intro-wrapper {
    padding: 1em;
    text-align: center;
    > div {
      flex-direction: column-reverse;
    }

    .static-twitter-timeline {
      margin: 0;
      margin-top: 2em;
      width: 100%;
    }
  }

  .static-header {
    flex-direction: column;
    height: 100%;
    
  }

  .static-header-right {
    margin-top: 1em;
  }
  .static-site-name {
    width: 100%;

    h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 425px) {
  .static-header-right {
    flex-direction: column-reverse;
    
  }
}