@import '../../../colours.scss';

.breadcrumb {
  font-size: 1rem;
  
  a {
    text-decoration: none;
    color: var(--secondary);
  }

  i {
    color: var(--secondary);
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1025px) {
  .breadcrumb {
    display: none;
  }
}