.dark-mode-switch {
  border: none;
  background: transparent;
  position: relative;
  outline: none;

  > p {
    margin-top: -1px;
    z-index: 1;
    margin-left: 1em;
    color: var(--secondary);
  }

  i {
    transition: all 0.2s ease;

  }
}

.fas.flipped {
  transform: rotateZ(180deg);
}