.mode-switch {
  border: none;
  background: transparent;
  position: relative;
  outline: none;
  width: 100%;
}
.mode-switch > p {
  margin-top: -1px;
  z-index: 1;
  margin-left: 1em;
  color: var(--text);
}
.mode-switch i {
  color: var(--text);
  transition: all 0.2s ease;
}
.fas.flipped {
  transform: rotateZ(180deg);
}
