@import '../../colours';



.nav-dot {
  width: 10px;
  height: 10px;
  background: $grey3;
  border-radius: 50%;
}

.dash-nav {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
  border-right: 1px solid $grey9;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease;
}

.collapsed {
  min-width: 0;
  margin-left: -200px;
}

.dash-nav-item {
  color: $grey3;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.2em 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 0.5em;  
  padding: 0.3em;
  border-radius: 20px;
  p {
    white-space: nowrap;
  }

  i {
    margin-right: 1em;
  }
}

.dash-nav-item-active  {
  background: rgb(21,100,135);
  background: linear-gradient(45deg, rgba(21,100,135,1) 0%, rgba(60,108,237,1) 100%);
  box-shadow: 0px 2px 10px rgba($blue3, 0.5);
  p, 
  i {
    color: white;
  }
  .nav-indicator {

    opacity: 1;
  }
}

.nav-indicator {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  margin-right: 1.5em;
  margin-left:  1em;
}