@import '../../colours';



.nav-dot {
  width: 10px;
  height: 10px;
  background: $grey3;
  border-radius: 50%;
}

.dash-nav {
  min-width: 200px;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  overflow: hidden;
  border-right: 1px solid $grey9;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease;
}

.collapsed {
  min-width: 0;
  margin-left: -150px;
}

.dash-nav-item {
  color: $grey3;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.2em 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 1.5em 0;  

  p {
    white-space: nowrap;
  }
}

.dash-nav-item-active  {
  p {
    color: $blue7;
  }
  .nav-indicator {

    opacity: 1;
  }
}

.nav-indicator {
  width: 15px;
  height: 4px;
  background: $blue7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0;
  margin-right: 3em;
}