.about-wrapper {
  width: 100%;
  max-width: 900px;
  height: 100vh;

  h1 {
    font-size: 3rem;
    margin-bottom: 2em;
  }

  p {
    line-height: 1.8em;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (max-width:425px) {
  .about-wrapper {
    h1 {
      font-size: 10vw;
    }

    p {
      font-size: 1rem;
      margin: 0 1em;
      
    }
  }
}