@import '../../colours.scss';

.about-wrapper {
  width: 100%;
  max-width: 900px;
  min-height: 100vh;
  height: 100%;
  padding: 0 1em;

}

.about-title {
  font-size: 3rem;
  margin-bottom: 2em;
}

.about-subtitle {
  line-height: 1.8em;
  text-align: center;
  font-size: 1.2rem;
}
