.submitted-headers,
.submitted-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
}

.submitted-headers {
  margin: 1em 0;
  padding: 1em 0.5em;
  p {
    font-weight: bold;
    color: var(--text);
  }
  border-bottom: 1.5px solid var(--bgLight);
}

.submitted-item-wrapper {
  padding: 1em 0.5em;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &:nth-child(odd) {
    background-color: var(--bgLight);
  }

  
}

.actions {
  display: flex;
  justify-content: center;
  position: relative;
  i {
    color: var(--text);
  }

  &:hover {
    .actions-dropdown {
      display: flex;
    }
  }
}

.actions-dropdown {
  position: absolute;
  display: none;
  background: var(--bgLight);
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(black, 0.2);
  top: 20px;
  right: 0;
  z-index: 1;
}