
.post-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-column-gap: 5px;
  grid-row-gap: 10px; 
  justify-content: space-between;
}

.lazy-gradient {
  height: 90px;
  width: 100%;
  background: var(--secondary);

}


@media screen and (max-width: 702px) {
  .post-list {
    justify-content: center !important;
  }
}