 

.static-social-bar {
  display: flex;
align-items: center;
white-space: nowrap;
}

.static-social-bar.dark {

  a,
  i {
    color: white;
  }
}


@media screen and (max-width: 426px) {
  .static-social-bar {
    margin-bottom: 0.3em;
  }
}