@import '../../../../colours.scss';

.static-social-bar {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-social-bar.dark {
  background-color: $grey2;
}