@import '../../../../colours.scss';

.static-social-bar {
  display: flex;
align-items: center;
}

.static-social-bar.dark {

  a,
  i {
    color: white;
  }
}

@media screen and (max-width: 511px) {
 .static-social-bar {
   margin-top: 1em;
 }
}