.select {
  width: 100%;
  max-width: 300px;

  [class*="-control"] {
    background-color: var(--bgLighter) !important;
  }
  [class*="-singleValue"] {
    color: var(--text) !important;
  }
}

@media screen and (max-width: 425px) {
  .select {
    width: 100%;
    margin-right: 0;
  }
}
