@import '../../colours.scss';

.scroll-to-top {
  position: fixed;
  right: 1em;
  bottom: 1em;
  font-size: 2rem;
  color: $grey3;
}

@media screen and (min-width: 769px) {
  .scroll-to-top {
    display: none;
  }
}