@import '../../colours.scss';

.used-by-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.used-by-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  opacity: 0.8;
  transition: all 0.2s ease;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  &:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: 1em;
  }
}
.used-by-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 1em;
  h3 {
    font-size: 1rem;
    padding-bottom: 1em;
    border-bottom: 1px solid $grey4;
  }

}