.tag-item {
  width: 100%;
  padding: 0.7em 0;
  transition: all 0.2s ease;
  border-bottom: 1px solid var(--bg);
  i {
    color: var(--text);
    transition: all 0.2s ease;
  }
  p {
    color: var(--text);
  }

  &:hover {
    background-color: var(--bg);
  }
}

.tag-small {
  background: var(--white-20);
  padding: 0 0.5em;
  color: var(--text);
  border-radius: 20px;
  width: fit-content;
  margin: 0.5em;
  padding-bottom: 3px;
  font-weight: bold;
  transition: all 0.2s ease;
  position: relative;

  &:hover {
    &:after {
      opacity: 1;
    }
  }
  
  &:after {
    content: "x";
    display: flex;
    justify-content: center;
    background-color: red;
    position: absolute;
    color: var(--white);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    padding: 0 0.5em;
    opacity: 0;
    transition: all 0.2s ease;
    border-radius: 20px;

  }
}

.tag-isolated.exists {
  border: 2px solid var(--accentBg);
  background:rgba(#0552B5, 0.3);

  i, p {
    color: var(--accentBg);

  }
}

.tag-isolated.to-add {
  background: var(--green);
  border: 2px solid var(--white);
  i, p {
    color: var(--white);

  }
}

.tag-isolated {
  margin-right: 1em;
  background-color: var(--bgLight);
  padding: 0.6em;
  font-weight: bold;
  border: 2px solid var(--white);
  border-radius: 5px;
  > i {
    font-size: 0.8rem;
    margin-right: 1em;
  }
}

