@import '../../colours.scss';

.dashboard-wrapper {
  height: 100vh;
  overflow: hidden;
}
.dashboard-inner {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.dashboard-page-wrapper {
  transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {
  .dashboard-page-wrapper {
    padding: 1em;
  }
}

@media screen and (max-width: 425px) {
  .dashboard-page-wrapper {
    padding: 0.5em;
  }

  .m\+ {
    margin: 0.5em !important;
  }
}