@import '../../colours.scss';

.btn-primary {
  background: rgb(5,82,181);
background: linear-gradient(31deg, #0967D2 0%, rgba(33,134,235,1) 100%);
  color: white;
  padding: 1em;
  font-size: 0.8rem;
  transition: all 0.2s ease;
  i { 
    margin-right: 10px;
  }

  &:hover {
    box-shadow: 0px 2px 15px rgba(black, 0.2);
  }
}

.btn {
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  outline: none;
  transition: all 0.2s ease;
  height: 100%;
  font-size: 0.7rem;

  i { 
    margin-right: 10px;
  }
}

.btn-secondary {
  background-color: white;
  border: 2px solid hsla(201, 87%, 54%,1);
  padding: 1em;
  font-size: 0.7rem;
  color: hsla(201, 87%, 54%,1);
  transition: all 0.2s ease;

  &:hover {
    background-color: hsla(201, 87%, 54%,1);
    color: white;
  }
}

.btn-tiertiary {
  color: hsla(211, 12%, 48%,1);
  font-size: 0.7rem;
  font-weight: 700;
  box-shadow: none;
  padding: 1em;
  margin-left: 0.5em;
  border:1.5px solid hsla(211, 12%, 88%,1);
  transition: all 0.2s ease;
  background-color: white;
  border-radius: 8px;
  &:hover {
    color: $blue8;
    border:1.5px solid $blue8;

  }
}

.btn-tiertiary.active {
  background-color: $yellow7;
  color: $grey3;
}

.btn-tiertiary.danger {
  border: 2px solid $accent;
  color: $accent;

  &:hover {
    background-color: $accent;
    color: white;
  }
}


.btn-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: $grey8;
  border-radius: 50%;
  font-size: 1rem;
  box-shadow: none;
  background-color: white;
  transition: all 0.2s ease;

  &:hover {
    background-color: $grey8;
    color: white;
  }
  i {
    margin: 0;
  }
}

.btn-green {
  background: rgb(62,189,147);
  background: linear-gradient(31deg, rgba(62,189,147,1) 0%, rgba(31,214,154,1) 100%);
  color: white;
  transition: all 0.2s ease;
  border: none;
  box-shadow: 0px 2px 10px rgba(black, 0.2);
  &:hover {
    background-color: darken($green, 5%);
    box-shadow: 0px 2px 10px rgba(black, 0.4);

    border: none;
    color: white;
  }
}

.btn-increment {
  border: none;
  padding: 0.5em;
  border: 1px solid $grey9;
  border-radius: 5px;
  width: 70px;
  background-color: $grey10;
}

.btn-primary.disabled{
  background: rgb(62,76,89);
background: linear-gradient(31deg, rgba(62,76,89,1) 0%, rgba(154,165,177,1) 100%);
}
.chat-send {
  border: none;
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: $green;
  margin-left: 1rem;
  align-self: flex-end;
  outline: none;
}

.chat-action {
  background-color: white;
  border: none;
  padding: 1em;
  margin:0 1em;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: $grey4; 
  transition: all 0.2s ease;
  outline: none;
  font-size: 0.6rem;
}

.chat-action {
  i {
    font-size: 0.8rem;
  }
}

.chat-action.primary {
  background-color: $grey9;
}

.chat-action.danger {
  background-color: transparent;
  color: $accent;
  border-radius: 0px;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $accent;
  }
}

.minimal-btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: $blue5;
  font-size: 0.7rem;

  i {
    margin-right: 1em;
  }
}

.dot {
  display: flex;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: white;
  margin: 0 0.2em;
  
  &:nth-child(1) {
    animation: grow 3s ease infinite;
  }

  &:nth-child(2) {
    animation: grow 3s ease 300ms infinite;
  }

  &:nth-child(3) {
    animation: grow 3s ease 600ms infinite;
  }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button:disabled {
  background-color: $grey7;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
