.btn-primary {
  background: var(--button-blue);
  color: white;
  padding: 1em;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 10px;
  }

  &:hover {
    box-shadow: 0px 2px 15px rgba(black, 0.2);
  }
}

.btn {
  border: none;
  color: var(--white);
  border-radius: 5px;
  font-weight: bold;
  white-space: nowrap;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;

  font-size: 0.8rem;
  i {
    margin-right: 10px;
  }
}

.btn-secondary {
  background-color: var(--bgLight);
  border: 2px solid hsla(201, 87%, 54%, 1);
  color: hsla(201, 87%, 54%, 1);
  transition: all 0.2s ease;

  &:hover {
    background-color: hsla(201, 87%, 54%, 1);
    color: white;
  }
}

.btn-yellow {
  background: var(--yellow);
  padding: 0.8em 1.5em;
  color: var(--black);
}

.btn-tiertiary {
  color: var(--text);
  font-weight: 700;
  box-shadow: none;
  padding: 0.5em;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--bgLight);
  border-radius: 5px;
  border: 2px solid var(--bg);

  &:hover {
    color: var(--blue-40);
  }
}

.btn-tiertiary.active {
  background-color: var(--yellow);
  color: var(--text);
}

.btn-tiertiary.danger {
  border: 2px solid var(--redBg);
  color: var(--redBg);
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--redBg);
    color: white;
  }
}

.btn-select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--text);
  border-radius: 50%;
  font-size: 1rem;
  box-shadow: none;
  background-color: var(--bg);

  transition: all 0.2s ease;

  &:hover {
    background-color: var(--accentBg);
    color: var(--white);
  }
  i {
    margin: 0;
  }
}

.btn-green {
  background: var(--secondaryGradient);
  color: white;
  transition: all 0.2s ease;
  border: none;
  box-shadow: 0px 2px 10px rgba(black, 0.2);

  &:hover {
    background-color: darken(#3ebd93, 5%);
    box-shadow: 0px 2px 10px rgba(black, 0.4);

    border: none;
    color: white;
  }
}

.btn-primary[disabled],
.btn-green[disabled] {
  background: rgb(142, 150, 156);

  cursor: not-allowed;
}
.chat-send {
  border: none;
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  margin-left: 1rem;
  align-self: flex-end;
  outline: none;
  background-color: transparent;
}

.chat-action {
  background: var(--bg);
  border: none;
  padding: 1em;
  margin: 0 1em;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text);

  outline: none;
  font-size: 0.6rem;

  i {
    font-size: 0.8rem;
  }
}

.chat-action.primary {
  background-color: var(--bgLight);
  color: var(--text);
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--accentBg);
    color: white;
  }
}

.chat-action.danger {
  background-color: transparent;
  color: var(--redBg);
  border-radius: 5px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;

  &:hover {
    border-bottom: 2px solid var(--redBg);
  }
}

.minimal-btn {
  background: transparent;
  border: none;
  font-weight: bold;
  color: var(--link);

  i {
    margin-right: 1em;
  }
}

.minimal-btn.bg {
  background: var(--bgLight);
}

.dot {
  display: flex;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: white;
  margin: 0 0.2em;

  &:nth-child(1) {
    animation: grow 3s ease infinite;
  }

  &:nth-child(2) {
    animation: grow 3s ease 300ms infinite;
  }

  &:nth-child(3) {
    animation: grow 3s ease 600ms infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button:disabled {
  background-color: var(--black-60);
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
