@import '../../colours.scss';

.message-author-box {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(black, 0.3);
  overflow: hidden;
}

.message-author-box-header {
  padding: 1em;
  background-color: $accent;
  

  h3 {
    color: white;
  }
}

.message-author-message {
  white-space: pre-wrap;
}

@media screen and (max-width: 552px) {
  .message-author-box-header {
    flex-direction: column;

    .btn {
      margin-top: 2em;
    }
  }
}