@import '../../colours.scss';

.pricing-wrapper {
  margin-top: 5em;
}

.highlight.tag {
  i,
  p {
    color: $blue7;
    font-weight: 700;
  }
  
}
.pricing-value {
  font-size: 2.5rem;
  font-weight: 700;
  
}

.pricing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  overflow: hidden;
  background:white;
  box-shadow: 0px 2px 20px rgba(black, 0.1);
  margin:0 1em;
}

.pricing-block-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(39,150,171);
  background: linear-gradient(45deg, rgba(39,150,171,1) 0%, rgba(110,101,214,1) 100%);
  
  * {
    color: white;
  }
}

.perk {
  margin-top: 1em;
  margin-bottom: 1em;

  .fa-check {
    color: $green;
  }
}

.perk-list {
  margin-top: 1.5em;
}
.pricing-actions {
  width: 95%;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.term-wrapper {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.term-switch-buttons {
  background: white;
  padding: 0.5em;
  border-radius: 8px;
  box-shadow: 0px 2px 20px rgba(black, 0.1);
}

.term-item {
  padding: 0.5em 1em;
  opacity: 0.5;
  cursor: pointer;
}

.term-item.active {
  background-color: $blue6;
  border-radius: 5px;
  opacity: 1;
  h3 {
    color: white;
  }
}