@import '../../colours.scss';

.title {
  text-overflow: ellipsis;
  height: 90px;
  width: 90%;
}

.post-actions {
  .btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid $grey7;
    color: $grey7;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 0.2s ease;
    font-size: 1rem;
    &:hover {
      background-color: $grey7;
      color: white;
    }
  }
}