@import '../../colours.scss';

.nav-toggle {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  width: 50px;
  right: 1em;
  top: 1em;
  z-index: 5;
  background-color: rgba(white, 0.5);
  padding: 0.5em;
  .toggle-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $grey2;
  }
}

.navbar {
  ul {
    display: flex;
  }
  a {
    width: 100%;
    display: flex;
    color: $grey2;
    text-decoration: none;
    font-weight: 400;
    padding: 0.5em;
  }
  
  i {
    color: $orange;
  }
  
  li {
    &:not(:last-child):hover {
      background-color: $grey10;
    }
  }
}

.nav-link.bdts-s {
  border-color: $grey8;
}

.extended {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($grey1, 0.9);
  
  .nav-link {
   font-size: 2rem;
   margin-bottom: 1em; 

   a {
    color: white;
    text-decoration: none;
   }
  }

  .nav-main-btn {
    padding: 0.5em;
  }

  .topbar-account-widget {
    display: flex !important;
    height: auto;
    background-color: white;
    padding: 1em;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .dropdown-wrapper {
    top: 4em;
    left: 0;
  }
}

.nav-username {
  text-align: center;
  font-weight: 400;
  margin-bottom: 1em;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}


.dashboard-topbar {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid $grey9;
  width: 100%;
  padding: 0.5em 1em;
  align-items: center;
  display: flex;
}

.profile-image.small {
  border-radius: 3px;
  width: 30px;
  height: 30px;
}

.topbar-dropdown-toggle {
  color: $grey6;
}

.topbar-account-widget {
  position: relative;
  height: 100%;
  border-left: 1px solid $grey8;
  padding-left: 1em;
  margin-left: 0.5em;
  &:hover .dashboard-dropdown  {
    display: flex;
  }
}

.dash-nav-toggle {
  width: 30px;
  height: 40px;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey4;
  flex-direction: column;

  .toggle-line {
    width: 100%;
    height: 3px;
    box-shadow: 0px 0px 3px rgba(black, 0.2);
      margin: 3px 0;
    background-color: $grey2;
  }
}

.nav-main-btn {
  background-color: $blue7;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  a {
    color: white;
    text-decoration: none;
  }  

  &:hover {
    background-color: darken($blue7, 5%);
  }
}

.mobile-navbar-wrapper {
  display: none;
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}
@media screen and (max-width: 584px) {
  .close-modal {
    top: 1em ;
    right: 1em ;
  }
}

