.story-item-wrapper {
  transition: all 0.2s ease;
  background-color: var(--bgLight);
  min-height: 100px;
  height: 100%;
}

.story-author {
  color: var(--text) !important;
}

.story-subreddit {
  hyphens: auto;
}


.story-title {
  color: var(--link);
  text-decoration: underline;
  hyphens: auto;
}

.story-item.opaque {
  opacity: 0.7;
  transition: all 0.2s ease;


  &:hover {
    opacity: 1;
  }
}

.story-item-header-subheader {

  h3,
  h4 {
    color: var(--text);
  }
}


.story-filter {
  text-transform: capitalize;
  color: var(--text);
  border: none;
  background-color: var(--bgLight);
  border-radius: 20px;
  outline: none;
  padding: 0.4em 0.9em;
  margin: 0.5em;

  &.active {
    background-color: var(--success);
    color: white;
    box-shadow: 0px 2px 15px rgba(black, 0.3);
  }
}

.story-filters {

  .header-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }


  .fa-times {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    color: var(--text);
    background-color: var(--bgLight);
    border-radius: 50%;
  }
}

.tag-list {
  flex-wrap: wrap;

  p {
    white-space: nowrap;
  }

  i {
    color: var(--textLight)
  }
}


@media screen and (max-width: 768px) {
  .mobile-column {
    flex-direction: column;

    .mobile-margin {
      margin: 1em 0;
    }
  }

  .story-item-header-subheader {
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 0;
    }

    h3,
    h4 {
      text-align: center;
      margin: 0.3em;
    }
  }
}

@media screen and (max-width: 425px) {
  .story-item {

    .body-toggle {
      margin-right: 10px;
    }
  }

  .story-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .story-search {
    flex-direction: column;
  }

  .story-search-actions {
    display: flex;
    margin-top: 1.5em;
    width: 100%;

    .btn-green {
      width: 100% !important;
    }
  }


}

@media screen and (max-width: 479px) {
  .story-body {
    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 748px) {
  .story-item-header-subheader {
    .story-author {
      margin-top: 1em;
    }
  }

  .circle-divider {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width:644px) {
  .story-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}