@import '../../colours.scss';

.hero {
  background: url('../../assets/hero-bg.jpg') center no-repeat;
  height: 900px;
  position: relative;

  &::after {
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($blue2, 0.5);
    position: absolute;
    z-index: 1;
  }

  > div {
    position: absolute;
    z-index: 2;
  }
}

.hero-subtitle {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.hero-logo {
  background-color: white;
  padding: 1em;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 2px 30px rgba(black, 0.4);
}

.hero-divider {
  position: absolute;
  bottom:-8px;
  right:0px;
  left:0px;
  z-index: 2;
  fill: #F8F7FC;
  
}

@media screen and (max-width: 416px) {
  .hero-logo {
    width: 90vw !important;
  }
}