@import '../../colours.scss';

.confirm-messages-wrapper {
  flex: 2;
  padding: 0.5em;
  height: 100%;
  
  .default-message-input {
    width: 100%;
  }
}

.confirm-title {
  background-color: $grey10;
  padding: 0.5em;
  border-radius: 5px;
}

@media screen and (max-width:572px) {
  .confirm-messages-wrapper {
    width: 100%;
  }

  .increment {
    display: none;
  }
}