@import '../../colours.scss';

.contact-actions {
  i {
    margin: 0 0.5em;
  }
}

.contact-wrapper {
  padding: 1em;
  border-radius: 5px;
  border: 1px solid $grey9;
  background-color: white;
  margin: 0.5em;
  margin-left: 2em;
  width: 100%;
  max-width: 700px;

}
