.form-preview {
  margin: 3em;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  #preview-body {
    color: var(--secondary);
    text-align: left;
    margin-top: 2em;
    ul {
      list-style: disc !important;
      padding-left: 1em;
    }
  }
}

#editor_static {
  background: var(--highlight);
}

.preview-headline {
  margin-top: 3em;
}


.form-module-wrapper {
  background-color: var(--tiertiary);
  padding: 1em;
  border-radius: 8px;
  margin: 0.5em 0;

  label {
    margin-bottom: 0;
    margin-right: 2em;
  }

  p {
    font-size: 0.9rem;
    margin-left: 5px;
    margin-top: 3px;
  }
}

@media screen and (max-width: 768px) {
  .submission-form-wrapper {
    flex-direction: column;

    .form-preview {
      margin: 0.5em;
    }
  }
}