@import '../../../colours.scss';

.quick-actions {
  background-color: white;
  padding: 0.5em;
  border-radius: 8px;
}

.quick-actions-body {
  padding: 1em;
  background-color: $grey10;
  .action {
    
  }
}