.reading-list-filter {
  text-transform: capitalize;
  color: var(--text);
  border: none;
  background-color: var(--bgLight);
  border-radius: 20px;
  outline: none;
  padding: 0.4em 0.9em;
  margin: 0.5em;
}
.reading-list-filter.active {
  background-color: var(--success);
  color: white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}
.reading-list-filters .header-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.reading-list-filters .fa-times {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  color: var(--text);
  background-color: var(--bgLight);
  border-radius: 50%;
}
.tag-list {
  flex-wrap: wrap;
}
.tag-list p {
  white-space: nowrap;
}
.tag-list i {
  color: var(--textLight);
}
@media screen and (max-width: 768px) {
  .mobile-column {
    flex-direction: column;
  }
  .mobile-column .mobile-margin {
    margin: 1em 0;
  }
  .reading-list-item-header-subheader {
    flex-direction: column;
    align-items: center;
  }
  .reading-list-item-header-subheader h3 {
    margin: 0;
  }
  .reading-list-item-header-subheader h3,
  .reading-list-item-header-subheader h4 {
    text-align: center;
    margin: 0.3em;
  }
}
@media screen and (max-width: 425px) {
  .reading-list-item .body-toggle {
    margin-right: 10px;
  }
  .reading-list-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .reading-list-search {
    flex-direction: column;
  }
  .reading-list-search-actions {
    display: flex;
    margin-top: 1.5em;
    width: 100%;
  }
  .reading-list-search-actions .btn-green {
    width: 100% !important;
  }
}
@media screen and (max-width: 479px) {
  .reading-list-body p {
    width: 100%;
  }
}
@media screen and (max-width: 748px) {
  .reading-list-item-header-subheader .reading-list-author {
    margin-top: 1em;
  }
  .circle-divider {
    display: none;
  }
}
@media screen and (min-width: 426px) and (max-width: 644px) {
  .reading-list-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
