.reading-list-item-wrapper {
  transition: all 0.2s ease;
  background-color: var(--bgLight);
  min-height: 250px;
  height: 100%;
}
.reading-list-author {
  color: var(--text) !important;
  hyphens: auto;
}

.reading-list-item-dropdown .dropdown {
  position: absolute;
  background: var(--bgLight);
  border-radius: 5px;
  border: 1px solid var(--bgLighter);
  width: 150px;
  color: var(--text);
  right: 0;
  top: 2em;
  display: none;
  z-index: 2;
  button {
    padding: 1em;
    width: 100%;
    background-color: transparent;

    &:hover {
      background-color: var(--white-40);
  
    }
  }
}

.reading-list-item-dropdown {
  width: 57px;
  padding: 0.3em;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: relative;

  

  i {
    color: var(--textLight);
  }

  &:hover {
    background-color: var(--bgLighter);
  }
}

.reading-list-title {
  color: var(--link);
  text-decoration: underline;
  hyphens: auto;
}

.reading-list-item.opaque {
  opacity: 0.7;
  transition: all 0.2s ease;


  &:hover {
    opacity: 1;
  }
}

.reading-list-item-header-subheader {
  h3,
  h4 {
    color: var(--text);
  }
}


.reading-list-filter {
  text-transform: capitalize;
  color: var(--text);
  border: none;
  background-color: var(--bgLight);
  border-radius: 20px;
  outline: none;
  padding: 0.4em 0.9em;
  margin: 0.5em;
  &.active {
    background-color: var(--success);
    color: white;
    box-shadow: 0px 2px 15px rgba(black, 0.3);
  }
}

.reading-list-filters {

  .header-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }


  .fa-times {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    color: var(--text);
    background-color: var(--bgLight);
    border-radius: 50%;
  }
}

.tag-list {
  flex-wrap: wrap;
  p {
    white-space: nowrap;
  }

  i {
    color: var(--textLight)
  }
}


@media screen and (max-width: 768px) {
  .mobile-column {
    flex-direction: column;

    .mobile-margin {
      margin: 1em 0;
    }
  }

  .reading-list-item-header-subheader {
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 0;
    }

    h3,
    h4 {
      text-align: center;
      margin: 0.3em;
    }
  }
}

@media screen and (max-width: 425px ) {
  .reading-list-item {

    .body-toggle {
      margin-right: 10px;
    }
  }

}

@media screen and (max-width: 479px) {
  .reading-list-body {
    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 748px) {
  .reading-list-item-header-subheader {
    .reading-list-author {
      margin-top: 1em;
    }
  }

  .circle-divider {
    display: none;
  }
}