/**
 * Border properties
 *
 * Reference:    https://developer.mozilla.org/en-US/docs/Web/CSS/border
*/

:root {
  --border-radius-tiny: 	  3px;
  --border-radius-small:    6px;
  --border-radius-large:    24px;
}

/**
 * Border
 *
 * Naming rule:    bd-[n]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/border
 */
 .bd-n    { border: none; }

/**
 * Border collapse
 *
 * Naming rule:    bdcl-[c|s]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/border-collapse
 */
 .bdcl-c    { border-collapse: collapse; }
 .bdcl-s    { border-collapse: separate; }


/**
 * Border color
 *
 * Naming rule:    bd(b|l|r|t)c-[color]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/border-color
 */

/* Border all color */
.bdc-t                 { border-color: transparent; }

/* Border bottom color */
.bdbc-t               { border-bottom-color: transparent; }

/* Border left color */
.bdlc-t             { border-left-color: transparent; }
.bdlw-1             { border-left-width: 1px; }

/* Border right color */
.bdrc-t          { border-right-color: transparent; }
.bdrw-1          { border-right-width: 1px; }

/* Border top color */
.bdtc-t               { border-top-color: transparent; }
.bdtw-1               { border-top-width: 1px; }
.bdtw-4               { border-top-width: 4px; }

/**
 * Border style
 *
 * Naming rule:    b(b|l|r|t)s(t)-[s]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/border-style
 */

/* Border style */
.bds-s    { border-style: solid; }

/* Border bottom style */
.bdbs-s     { border-bottom-style: solid; }
.bdbs-dt    { border-bottom-style: dotted; }

/* Border left style */
.bdls-s     { border-left-style: solid; }
.bdls-dt    { border-left-style: dotted; }

/* Border right style */
.bdrst-s     { border-right-style: solid; }
.bdrst-dt    { border-right-style: dotted; }

/* Border top style */
.bdts-s     { border-top-style: solid; }
.bdts-dt    { border-top-style: dotted; }

/**
 * Border width
 *
 * Naming rule:    bd(b|l|r|t)w-[value]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/border-width
 */
 .bdw-1     { border-width: 1px; }
 .bdw-2     { border-width: 2px; }
 .bdw-4     { border-width: 4px; }
 .bdw-6     { border-width: 6px; }
 .bdw-8     { border-width: 8px; }
 
 /* Border bottom width */
 .bdbw-21    { border-bottom-width: 21px; }
 
 /* Border left width */
 .bdlw-14    { border-left-width: 14px; }
 
 /* Border top width */
 .bdtw-22    { border-top-width: 22px; }
 