/**
  * Align items
  *
  * Naming rule:    ai-[b|c|fe|fs|s]
  * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/align-items
*/ 

.ai-b     { align-items: baseline; }
.ai-c     { align-items: center; }
.ai-fe    { align-items: flex-end; }
.ai-fs    { align-items: flex-start; }
.ai-s     { align-items: stretch; }

/**
 * Align self
 *
 * Naming rule:    as-[s|c|fe|fs]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/align-self
 */
 .as-s      { align-self: stretch; }
 .as-c      { align-self: center; }
 .as-fe     { align-self: flex-end; }
 .as-fs     { align-self: flex-start; }
 
/**
 * Justify content
 *
 * Naming rule:    jc-[c|fe|sa|sb]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content
 */
 .jc-c     { justify-content: center; }
 .jc-fe    { justify-content: flex-end; }
 .jc-sb    { justify-content: space-between; }
 .jc-sa    { justify-content: space-around; }
 
/**
 * Flex
 *
 * Naming rule:    fx-[value]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/flex
*/
.fx-1    { flex: 1; }

/**
 * Flex basis
 *
 * Naming rule:    fxd-[value]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/flex-basis
*/
.fxb-0    { flex-basis: 0; }

/**
 * Flex direction
 *
 * Naming rule:    fxd-[c|cr|r|rr]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction
*/

.fxd-c    { flex-direction: column; }
.fxd-cr   { flex-direction: column-reverse; }
.fxd-r    { flex-direction: row; }
.fxd-rr   { flex-direction: row-reverse; }

/**
 * Flex grow
 *
 * Naming rule:    fxg-[value]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow
 */
 .fxg-1    { flex-grow: 1; }
 .fxg-2    { flex-grow: 2; }
 
 /**
 * Flex shrink
 *
 * Naming rule:    fxsh-[value]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/flex-shrink
 */
.fxsh-0       { flex-shrink: 0; }
.fxsh-1-ie    { -ms-flex-negative: 1; }

/**
 * Flex wrap
 *
 * Naming rule:    fxw-[nw|w|wr]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap
 */
 .fxw-nw   { flex-wrap: nowrap; }
 .fxw-w    { flex-wrap: wrap; }
 .fxw-wr   { flex-wrap: wrap-reverse; }
