/**
 * Text properties
 *
 * Reference:    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Text
*/

/**
 * Line height
 *
 * Naming rule:    lh-[value]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
 */
 .lh-0      { line-height: 0; }
 .lh-1      { line-height: 1; }
 .lh-1-5    { line-height: 1.5; }
 
 
 /**
  * Text Align
  *
  * Naming rule:    ta-[l|c|r|ju|in]
  * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align
  */
 .ta-c    { text-align: center; }
 .ta-l    { text-align: left; }
 .ta-r    { text-align: right; }
 
/**
 * Text decoration
 *
 * Naming rule:    td-[n|u](-hv)
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration
 */
 .td-n    { text-decoration: none; }

 /* Text decoration hover states */
 .td-n-hv:hover    { text-decoration: none; }
 .td-u-hv:hover    { text-decoration: underline; }
 
/**
 * Text transform
 *
 * Naming rule:    tu-[u]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform
 */
 .tt-u    { text-transform: uppercase; }
 .tt-c    { text-transform: capitalize; }
/**
 * Vertical Align
 *
 * Naming rule:    va-[b|m|sub|sup|t]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align
 */
 .va-b      { vertical-align: bottom; }
 .va-m      { vertical-align: middle; }
 .va-sup    { vertical-align: super; }
 .va-t      { vertical-align: top; }

/**
 * White space
 *
 * Naming rule:    whs-[nw]
 * Reference:      https://developer.mozilla.org/en-US/docs/Web/CSS/white-space
 */
 .whs-nw    { white-space: nowrap; } 
