 
.inbox-wrapper {
  width: 100%;
}

.inbox-message-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.inbox-message-wrapper main {
  height: auto;
  
  
}

.inbox-item {
  border-radius: 5px;
  transition: all 0.2s ease;
  border-bottom: 2px solid var(--bg);

}

.message-snippet {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.inbox-item-body {
  margin-top: 0.5em;
  width: 100%;
  font-style: italic;
  display: flex;
  align-items: center;
  
  p, 
  i {
    color: var(--textLight);
  }
}

.selected-inbox-message {
  opacity: 1;
  box-shadow:0px 2px 40px rgba(black, 0.05);

}

.get-more-button {
  position: sticky;
  top: 0;
  z-index: 2;
}

@media screen and (max-width: 1024px) {

  .inbox-message-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
  }
}

@media screen and (max-width: 634px) {
  .inbox-item-body {
    white-space: pre-wrap !important;
    height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .inbox-item-header-mobile {
    flex-direction: column;
    align-items: flex-start;

    h4 {
      word-break: break-all;
    }
  }
}
@media screen and (max-width: 768px) {
.inbox-message-wrapper {
  height: 100%;
}
}