.post-fetch-header {
  width: 100%;
}

.fetch-inputs {
  margin-bottom: 1em;
}

.post-fetch-search {
  border-radius: 5px;
  .preffix {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.form-label.light {
  color: var(--text);
  margin-bottom: 1em;
}

.post-fetch-search-input {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.post-list {
  width: 100%;

  justify-content: space-between;
}

.MuiPagination-ul {
  li {
    & button {
      color: var(--text);
    }

    & div {
      color: var(--text);
    }
  }
}

.Mui-selected {
  background: var(--bgLight) !important;
}

.MuiPagination-root {
  margin: 1em 0;
}

@media screen and (min-width: 426px) {
  .MuiPagination-root {
    position: sticky;
    top: 100px;
    height: fit-content;
  }
}

@media screen and (max-width: 702px) {
  .post-list {
    justify-content: center !important;
  }
}

@media screen and (max-width: 768px) {
  .current-subreddit {
    margin: 1em;
  }

  .post-list {
    justify-content: center;
  }
}

@media screen and (max-width: 603px) {
  .post-fetch-header {
    flex-direction: column;
  }

  .post-fetch-header {
    .btn.btn-primary {
      margin-top: 1em;
    }
  }

  .mobile-fetch-inputs {
    flex-direction: column;

    height: 160px;

    > div {
      width: 100%;
      max-height: 45px;
      .form-input {
        margin-right: 0;
      }
    }
    .select {
      margin-top: 1em;
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 425px) {
  .search-autocomplete-wrapper {
    margin-right: 0;
  }

  .pagination-post-wrapper {
    flex-direction: column;
  }

  .MuiPagination-ul {
    flex-direction: row;
    justify-content: space-between;
  }

  .post-fetch-header .btn-primary {
    width: 100%;
  }
}

@media screen and (max-width: 1276px) and (min-width: 768px) {
  .post-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 100%));
  }
}

@media screen and (max-width: 320px) {
  .MuiPagination-ul {
    flex-wrap: nowrap !important;
  }
}
