 
.announcement {
  background-color: var(--bgLight);
  display: flex;
  padding: 1.5em;
  &-title {
    color: var(--text);
    font-weight: bold;
    margin-right: 1em;
    white-space: nowrap;
  }

  &-body {
    color: var(--textLight);
  }

  &-close {
    color: var(--textLight);
    transition: all 0.2s ease;
  }
}

@media screen and (max-width: 425px) {
  .announcement-content {
    flex-direction: column;
  }
}