.brand {
  overflow: hidden;
  img {
    width: 150px;
    height: 50px;
  }

  h3 {
    color: var(--secondary);
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: var(--highlight);
  align-items: center;
  padding: 0 1em;
  height: 75px;
  box-shadow: 0px 1px 5px rgba(black, 0.1);

}

@media screen and (min-width: 841px) {
  .nav-toggle {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .navbar,
  .topbar-account-widget {
    display: none;
  }

  
}