.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5em;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 5em;
}

@media screen and (max-width: 375px) {
  .App {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}