.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  justify-content: center;
  padding-bottom: 5em;
}

@media screen and (max-width: 465px) {
  .App {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
