
$blue1: #002159;
$blue2: #01337D;
$blue3: #03449E;
$blue4: #0552B5;
$blue5: #0967D2;
$blue6: #2186EB;
$blue7: #47A3F3;
$blue8: #7CC4FA;
$blue9: #BAE3FF;
$blue10: #E6F6FF;
$grey1: #1F2933;
$grey2: #323F4B;
$grey3: #3E4C59;
$grey4: #52606D;
$grey5: #616E7C;
$grey6: #7B8794;
$grey7: #9AA5B1;
$grey8: #CBD2D9;
$grey9: #E4E7EB;
$grey10: #F5F7FA;
$cyan1:#05606E;
$cyan2: #07818F;
$cyan3: #099AA4;
$cyan4: #0FB5BA;
$cyan5: #1CD4D4;
$cyan6: #3AE7E1;
$cyan7: #62F4EB;
$cyan8: #92FDF2;
$cyan9: #C1FEF6;
$cyan10: #E1FCF8; 
$orange: #F35627;
$yellow7: #FADB5F;
$green: #3EBD93;

