@import '../../colours.scss';

.contact-list {
  list-style-type: none;
  width: 100%;
  max-width: 600px;
}

.contact-list-item {
  border: 1px solid $grey9;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  margin: 0.5em 0;
  transition: all 0.2s ease;
  i {
    font-size: 0.8rem;
    color: $blue7;
  }

  &:hover {
    background-color: $grey9;
    cursor: pointer;
  }
}

.contact-list-name {
  font-weight: bold;
  color: $grey3;
  font-size: 0.9rem;
}