@import '../../colours.scss';

.contact-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.contact-list-item {
  display: flex;
  flex-direction: column;
  margin: 1em;
   
  position: relative;
  width: 300px;
  min-height: 300px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--bgLight);
  box-shadow: 0px 2px 15px rgba(black, 0.2);
}

.contact-item-header {
  background: var(--bgLighter);
  width: 100%;
  padding: 1em;

  h2 {
    color: var(--text);
  }
}

.contact-list-item-body {
  padding: 0.5em;
  flex: 1;
  p {
    color: var(--text);
  }
}

.contact-list-name {
  font-weight: bold;
  color: $grey3;
  font-size: 0.9rem;
}

.contact-actions {
  width: 100%;
  align-items: center;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}

.contact-actions  {
  > .edit {
    display: flex;
    align-items: center;
    background-color: var(--bg);
    width: 100%;
    height: 40px;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 8px;
    color: var(--text);
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      background: var(--success);
      color: white;
    }
  }

  > .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--text);
    padding: 1em;
    background: var(--bg);
    border-radius: 50%;
    transition: all 0.2s ease;

    &:hover {
      background: var(--redBg);
      color: white;
    }
  }
}

@media screen and (max-width: 425px) {
  .contact-list {
    justify-content: center;
  }
}