@import '../../colours.scss';

.post-fetch-header {
  width: 100%;
}

.fetch-inputs {
  background-color: var(--bgLight);
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(black, 0.10);
  margin-bottom: 1em;
}

.post-fetch-search {
  padding: 0.5em 1em;
  
}

.select__arrow {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;

}

.form-label.light {
  color: $grey10;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .current-subreddit {
    margin: 1em;
  }

  .post-list {
    padding: 1em;
    justify-content: center;
  }

  .filters-wrapper {
    padding: 1em;
  }
}

@media screen and (max-width: 603px) {
  .post-fetch-header {
    flex-direction: column;
  }

  .btn.btn-primary {
    margin-top: 1em;
  }

  .mobile-fetch-inputs {
    flex-direction: column;
    height: 100%;
    .select {
      margin-top: 1em;
    }
  }
}
@media screen and (max-width: 425px) {
  .search-autocomplete-wrapper {
    margin-right: 0;
  }
}
