 
.post-fetch-header {
  width: 100%;
}

.fetch-inputs {
  margin-bottom: 1em;
}

.post-fetch-search {
  padding: 0.5em 1em;
  
  .preffix {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.select__arrow {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;

}

.form-label.light {
  color: var(--text);
  margin-bottom: 1em;
}

.post-fetch-search {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}


.post-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-column-gap: 5px;
  grid-row-gap: 10px; 
  justify-content: space-between;
}

@media screen and (max-width: 702px) {
  .post-list {
    justify-content: center !important;
  }
}

@media screen and (max-width: 768px) {
  .current-subreddit {
    margin: 1em;
  }

  .post-list {
    padding: 1em;
    justify-content: center;
  }

  .filters-wrapper {
    padding: 1em;
  }
}

@media screen and (max-width: 603px) {
  .post-fetch-header {
    flex-direction: column;
  }

  .btn.btn-primary {
    margin-top: 1em;
  }

  .mobile-fetch-inputs {
    flex-direction: column;
    height: 100%;
    .select {
      margin-top: 1em;
    }
  }
}
@media screen and (max-width: 425px) {
  .search-autocomplete-wrapper {
    margin-right: 0;
  }
}
