@import '../../colours.scss';

.default-message {
  width: 100%;
  max-width: 500px;
}
.default-message-input {
  display: block;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 300px;
  border: 1px solid $grey8;
  border-radius: 5px;
  padding: 0.5em;
  color: $grey4;
  resize: vertical;

  &::placeholder {
    color: $grey7;
  }
}

.default-message-holder {
  white-space: pre-wrap;
  background-color: $grey10;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid $grey9;
}


@media screen and (max-width: 375px) {
  .account-footer {
    flex-direction: column;
    button {
      margin-top: 3em;
    }
  }
}

@media screen and (max-width: 507px) {
  .account-wrapper {
    padding: 0 1em;
  }

  .default-message {
    width: 100%;
  }
}