.tabs {
  width: 150px;
}

.tab {
  margin: 0.5em 0;
  transition: all 0.2s ease;
  a,
  button {
    color: var(--text);
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s ease;
    text-align: left;

    &:hover {
      opacity: 1;
      font-weight: bold;
    }
  }


}

.tab-active {
  opacity: 1 !important;
  font-weight: bold;

}