.tabs {
  width: 150px;
  padding: 0.5em;
}

.tab {
  margin: 0.5em 0;
  transition: all 0.2s ease;
        font-weight: bold;

  a,
  button {
    color: var(--text);
    opacity: 0.5;
    text-decoration: none;
    transition: all 0.2s ease;
    text-align: left;

    &:hover {
      opacity: 1;
      font-weight: bold;
    }
  }


}

.tab-active {
  opacity: 1 !important;
  font-weight: bold;

}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .tabs-wrapper {
    display: flex;
    flex-direction: row;

    .tabs {
      width: fit-content;
    }
    ul {
      display: flex;
      flex-direction: row;
      li {
        margin-right: 1em;
      }
    }

    .hr {
      width: 2px !important;
      height: 10px !important;
      margin-right: 1em;
    }
  }
}

@media screen and (max-width: 425px) {
  .tabs-wrapper {
    margin-bottom: 1em;

    .tabs {width: 100%;}
  }
}