.tabs-wrapper {
  width: fit-content;
  flex-wrap: wrap;
  padding: 0.5em;
  background: var(--highlight);
  border-radius: 8px;
}

@media screen and (max-width: 425px) {
  .tabs-wrapper {
    .tabs-item {
      width: 100%; 

      a {
        display: flex;
        justify-content: center;
      }
    }
  }
}