.filters-wrapper {
  background: var(--tiertiary);
}

.filters {
  background-color: var(--bgLight);
  padding: 0.5em;
  border-radius: 8px;
}

.filter-actions {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .filter-actions {
    margin-top: 1em;
  }
}

@media screen and (max-width: 523px) {
  .filter-actions {
    button {
      margin: 0.5em;
    }
  }
}

@media screen and (max-width: 452px) {
  .filter-actions {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 425px) {
  .filters-wrapper {
    .inputs {
      flex-direction: column;
    }
  }
  .filter-actions > div {
    flex-direction: column;

    button {
      max-width: 100%;
      margin: 0.5em 0;
    }
  }
}
