@import '../../colours';

.filters-wrapper {
  background: var(--tiertiary);
  padding: 0.5em 1em;
}

@media screen and (max-width: 768px) {
  .filters-wrapper > div {
      flex-direction: column;
  }

  .filter-actions {
    margin-top: 1em;
    align-self: flex-end;
  }
}

@media screen and (max-width: 425px) {
  .filters-wrapper {
    .inputs {
      flex-direction: column;
      input {
        margin: 1em 0;
      }
    }
  }
}

@media screen and (max-width: 452px) {
  .filter-actions {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 405px) {
  .filter-actions {
    flex-direction: column;

    button {
      width: 100%;
      margin: 1em 0;
    }
  }

}