@import '../../colours.scss';

.form { 
  width: 100%;
  max-width: 400px;
}
.field-group {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  width: 100%;
}

.form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: $grey6;
}

.form-input {
  border: 1px solid $grey8;
  padding: 1em;
  border-radius: 5px;
}