@import '../../colours.scss';

.form { 
  width: 100%;
  max-width: 600px;
}
.field-group {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  width: 100%;
}

.form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: $grey6;
}

.form-input {
  border: 1px solid $grey8;
  padding: 1em 1.2em;
  font-size: 0.8rem;
  border-radius: 3px;
}

.chat-send-form {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 10px;
  width: 100%;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(black, 0.1);
}

.chat-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  outline: none;
  resize: none;
  color: $grey4;
}

.textarea {
  display: block;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 300px;
  border: 1px solid $grey8;
  border-radius: 5px;
  padding: 0.5em;
  color: $grey4;
  resize: vertical;
  font-size: 1rem;
  &::placeholder {
    color: $grey7;
  }
}

.search-large {
  border: 2px solid $grey9;
  border-radius: 3px;
  background-color: white;
  font-size: 0.8rem;
  padding:1em;
}

.colour-picker {
  border: 0px;
  width: 40px;
  height: 40px;
}